.navbar {
  background-color: $colors.white;
  border-bottom: 1px solid $colors.light;
}

.navbarDivider {
  border-left: 1px solid $colors.medium;
}

.imgLogo {
  width: rem(100px);
  position: absolute;
  top: rem(10px);
}
