.title {
  color: $colors.darkGreen;
}

.recipeDetail {
  background: alpha($colors.dark, 0.85);
  overflow: auto;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 90;
}

.recipeDetailContent {
  margin: 0 auto;
}
