$recipeRadius = rem(10px);

.clickable { cursor: pointer; }

.subTitle {
  color: $colors.medium;
}

.recipe {
  background-color: $colors.white;
  border-radius: $recipeRadius;
  border: 1px solid $colors.light;
  position: relative;

  &:hover {
    border-color: $colors.medium;
  }
}

.favoriteIcon {
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
  height: 45px;
  padding: 10px;
  background-color: $colors.white;
  border-radius: 0 $recipeRadius 0 $recipeRadius;
  border-left: 1px solid $colors.light;
  border-bottom: 1px solid $colors.light;
  fill: $colors.disable;

  &.isFavorite {
    background-color: $colors.orange;
    fill: $colors.white;
  }

  +media(medium) {
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  z-index: 10;
}

.image {
  display: block;
  border-radius: $recipeRadius $recipeRadius 0 0;
}

.rating {
  border-top: 1px solid $colors.light;
  border-bottom: 1px solid $colors.light;
  display: flex;
}

.ratingGrid {
  align-items: center;
}

.fullDetailSection{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 1px dotted $colors.lighter;
}
