$colors = {
  // Monochromatics
  black: #000,
  white: #fff,

  // Colorful
  green: #484,
  darkGreen: #063,
  orange: #d72,

  // Brand Colors
  success: #053,
  danger: #c23,
  disable: #bbb,

  // Auxiliary Colors
  dark: #444,
  medium: #999,
  light: #ccc,
  lighter: #efefef,
};
