@require './colors';
@require './type';

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font: $fontSizeBase\/$lineHeight $fontFamily;
  color: $colors.medium;
  margin: 0;
}

// template root
:global([data-reactroot]) {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

img {
  max-width: 100%;
}
