@require './colors';

$fontFamily = 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontSizeBase = 14px;
$lineHeight = 1.4;

$fontSizeHuge = 2rem;
$fontSizeLarge = 1.5rem;
$fontSizeMedium = 1rem;
$fontSizeSmall = .75rem;

.text-huge { font-size: $fontSizeHuge; }
.text-large { font-size: $fontSizeLarge; }
.text-medium { font-size: $fontSizeMedium; }
.text-small { font-size: $fontSizeSmall; }

a {
  color: $colors.green;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
